.imgCart {
    width: 5rem;
}

.cartWidget {
    text-align: center;
}

.cartWidgetCard {
    border: lightgray solid 0.5px;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.btnCartWidget {
    margin: 0.2rem;
}