.imgDescrip {
    width: 20rem;
    margin: 0.5rem;
}

.detail {
    width: 50rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.125);
    border-width: 0.2rem;
    border-radius: 0.5rem;
}

.detailText {
    text-align: center;
    margin: 0.5rem;
}