.imgDescrip {
    width: 20rem;
    margin: 0.5rem;
}

.detail {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.125);
    border-width: 0.2rem;
    border-radius: 0.5rem;
}

.detailText {
    text-align: center;
    margin: 0.5rem;
}

@media only screen and (max-width: 768px){
    .detail {
        width: 100%;
    }

    .imgDescrip {
        width: 10rem;
        margin: 0.5rem;
    }
}

@media only screen and (min-width: 1440px){
    .detail {
        width: 40%;
    }
}