@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: 700;
}

.menuCart {
    display: flex;
    align-items: center;
}